.services {
  margin: 8em;
  background-image: url(./images/world-map.png);
}
.service-card {
  gap: 0.8em;
  padding: 2.7em;
}
.service-card h5 {
  text-transform: uppercase;
  font-size: 1em;
  font-family: MontVar;
  font-weight: bold;
  line-height: 1.8em;
  color: #0a0a0a;
}
.service-card p {
  color: #535353;
  font-size: 0.85rem;
  line-height: 1.8em;
  font-family: "MontVar";
}


@media screen and (max-width: 540px) {
  .services {
    flex-direction: column;
    margin: 2em 0em;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .service-card h5{
    font-size: 1.1rem;
  }
  .service-card p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 540px) and (max-width: 1360px) {
    .services {
      flex-wrap: wrap;
      margin: 2.5em;
    }
    .service-card {
      width: 50%;
      align-items: flex-start;
    }
}