.looking_for-wrapper {
  padding: 1em;
}
.looking_for-container h3 {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: MontVar, sans-serif;
}
.looking_for-container hr {
  margin: 2em 0;
}
.looking_for-container p {
  line-height: 2em;
  color: #535353;
}
.looking_for-container .row1 {
  margin-top: 3em;
}
.looking_for-container img {
  margin-bottom: 2em;
}
.item h5 {
  margin: 1.5em 0;
  font-family: MontVar, sans-serif;
  font-weight: bold;
}
.items {
  gap: 2.5em 0;
}

@media screen and (max-width: 540px) {
  .looking_for-wrapper {
    margin-top: 10em;
  }
  .row1, .row2{
    flex-direction: column;
    gap: 2em;
  }
}

@media screen and (min-width: 540px) and (max-width: 1360px) {
  .looking_for-wrapper {
    margin: 5em;
  }  
  .row1, .row2{
    gap: .5em;
  }
}