.clients-wrapper {
  margin: 8em 1em 10em;
}
.clients-container h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: MontVar, sans-serif;
}
.clients-container hr {
  margin: 1.5em 0 2em;
}
.testimony p {
  background-color: #f4f4f4;
  color: #181818;
  padding: 3em 2em 2.5em;
  width: 55vw;
  line-height: 1.7em;
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  border-radius: 5px;
}
.client {
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2em;
  position: relative;
  top: -30px;
  margin-left: 50px;
}
.client img {
  border-radius: 5em;
}
.client-info {
  align-items: flex-start;
  gap: 0.5em;
}
.client-info .name span {
  display: block;
}
.client-info .name span:nth-child(1) {
  color: #181818;
  font-weight: bolder;
  font-family: MontVar, sans-serif;
  font-size: 1.3rem;
}
.client-info .name span:nth-child(2) {
  color: #dcdcdc;
}
.rating {
  color: #777;
}
.clients {
  gap: 2em;
}

@media screen and (max-width: 540px) {
  .testimony p {
    width: 100%;
    padding: 2.5em 2em 1.5em;
    font-size: 1.1rem;
    line-height: 1.9em;
  }
  .client {
    top: -15px;
    gap: 1em;
    margin-left: 30px;
  }
  .client img {
    width: 90px;
    margin-left: 0px;
  }
  .client-info .name span:nth-child(1) {
    font-size: 1.1rem;
  }
  .clients {
    flex-wrap: wrap;
  }
  .clients img {
    width: 20%;
  }
}

@media screen and (min-width: 540px) and (max-width: 1366px) {
  .testimony p {
    width: 65dvw;
    font-size: 1.1rem;
  }
  .client {
    top: -20px;
    gap: 1em;
  }
  .client img {
    width: 100px;
  }
  .clients {
    flex-wrap: wrap;
  }
  .clients img {
    width: 20%;
  }
}
