* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
}
.app {
  position: relative;
}
@font-face {
  font-family: "Open sans";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: MontVar;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: OpenVar;
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

/* general styles */
body {
  font-family: Montserrat, sans-serif;
}
p {
  font-family: "Open-sans", sans-serif;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  padding: 1.2em 1.7em;
  background-color: #0d5195;
  transition: all 200ms ease-in;
  font-family: "Open sans", sans-serif;
  margin-left: 4em;
  color: white;
  font-weight: 900;
}

.button:hover {
  background-color: #0a4177;
}

.quote-section {
  margin: 5em 0;
}
.quote-section > section {
  flex: 1;
  width: 50vw;
}
.hr {
  width: 55px;
  height: 4px;
  background-color: #0d5195;
}

@media screen and (max-width: 375px) {
  :root {
    font-size: 14px;
  }
  .button {
    margin: 0;
  }
  .quote-section {
    margin: 0;
    flex-direction: column;
  }
  .quote-section > section {
    width: 100%;
  }
}
